<div class="container center-align">

  <div class="row">

    <% if @sites.any? %>

      <% if @supplies_ending.any? %>
        <div class="col s12 l6">
          <%= render 'layouts/overview-ending-soon' %>
        </div>
      <% end %>

      <% if @devices_repair.any? %>
        <div class="col s12 l6">
          <%= render 'layouts/overview-in-repair' %>
        </div>
      <% end %>

      <div class="col s12 l6">
        <%= render 'layouts/overview-sites' %>
      </div>

      <div class="col s12 l6">
        <%= render 'layouts/overview-total' %>
      </div>

    <% else %>
      <div class="col s12">
        <%= render 'layouts/overview-welcome' %>
      </div>
  <% end %>
  </div>
</div>
