<% if @sites.any? %>

  <div class="row">
    <%= render 'layouts/overview-ending-soon' %>
    <%= render 'layouts/overview-most-used' %>
  </div>

  <div class="row">
    <%= render 'layouts/overview-in-repair' %>
  </div>

  <div class="row">
    <%= render 'layouts/overview-sites' %>
    <%= render 'layouts/overview-total' %>
  </div>

<% else %>
  <div class="row">
    <%= render 'layouts/overview-welcome' %>
  </div>

<% end %>