<% if @sites.any? %>

    <div class="row">
      <div class="col s12">
        <% if @primary_site %>
          <h5><%= @primary_site_name %></h5>
        <% else %>
          <h5>All Sites</h5>
        <% end %>
      </div>
    </div>


  <div class="row">
    <%= render 'layouts/overview-ending-soon' %>
    <%= render 'layouts/overview-most-used' %>
  </div>

  <div class="row">
    <%= render 'layouts/overview-in-repair' %>
  </div>

  <div class="row">
    <%= render 'layouts/overview-sites' %>
    <%= render 'layouts/overview-total' %>
  </div>

<% else %>
  <div class="row">
    <%= render 'layouts/overview-welcome' %>
  </div>

<% end %>