<div class="container center-align">

  <% if @sites.any? %>

    <div class="row">

      <% if @supplies_ending.any? %>
        <%= render 'layouts/overview-ending-soon' %>
      <% end %>

      <% if @devices_repair.any? %>
        <%= render 'layouts/overview-in-repair' %>
      <% end %>

      <% if @supplies_ending.any? && @devices_repair.any? %>
        </div>
        <div class="row">
      <% end %>

      <%= render 'layouts/overview-sites' %>

      <% if @supplies_ending.empty? || @devices_repair.empty? %>
        </div>
        <div class="row">
      <% end %>

      <%= render 'layouts/overview-total' %>

    </div>

  <% else %>
    <div class="row">
      <%= render 'layouts/overview-welcome' %>
    </div>

  <% end %>

</div>
