<div class="row">
  <div class="col s12">
    <div class="card hoverable">
      <div class="card-content">

        <i class="material-icons left">assignment</i>

        <!-- Card title -->
        <span class="card-title"><%= @device.name %> - Assign Supplies</span>

        <div class="container">

          <%= form_for [@site, @device] do |f| %>

            <table class="highlight">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Quantity</th>
                </tr>
              </thead>

              <tbody>

                <!-- Needed for successful update if no supplies assigned -->
                <%= hidden_field_tag "device[supply_ids][]" %>

                <% @supplies.each do |supply| %>
                  <tr>
                    <td>

                      <!-- f.object.supplies.include?(supply) used to set checkbox status, but generates N+1 Query problem. Not sure how to fix that yet. -->
                      <%= check_box_tag "device[supply_ids][]", supply.id, f.object.supplies.include?(supply), id: "device_supply_ids_#{supply.id}" %>
                      <label for="device_supply_ids_<%= supply.id %>"><%= supply.name %></label>
                    </td>
                    <td><%= supply.description %></td>
                    <td><%= supply.quantity %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <!-- Buttons -->

            <!-- Uncheck all button -->
            <div class="row">
              <div class="col s12" style="margin-top: 10px; margin-bottom: 10px;">
                <a id="uncheck-all" href="javascript:void(0);" class="btn btn-flat">Uncheck All</a>
              </div>
            </div>

            <div class="row">
              <div class="col s12">

                <!-- Save button -->
                <button class="btn waves-effect waves-light">
                  <%= f.submit "Save" %>
                </button>

                <!-- Back button -->
                <%= link_to "Back", :back, class: "btn btn-flat waves-effect waves-light" %>
              </div>
            </div>  <!-- Buttons -->

          <% end %>  <!-- Form end -->

        </div>  <!-- Form container -->
      </div>  <!-- Card content -->
    </div>  <!-- Card -->
  </div>  <!-- Col -->
</div>  <!-- Row -->

<!-- Uncheck all checkboxes function -->
<script>
  $(document).ready(function() {
    $('#uncheck-all').click(function(){
      $("input:checkbox").attr('checked', false);
    });
  });
</script>