<div class="row">
  <div class="col s12">
    <div class="card hoverable">
      <div class="card-content">

        <i class="material-icons left">print</i>

        <!-- Device name -->
        <span class="card-title">Edit: <%= @device.name %></span>

        <div class="container">

          <%= form_for [@site, @device] do |f| %>

            <%= form_errors_for @device %>

            <!-- Name -->
            <div class="row">
              <div class="input-field col s12">
                <%= f.label :name, class: "active" %>
                <%= f.text_field :name, required: true %>
              </div>
            </div>

            <div class="row">

              <!-- Type -->
              <div class="input-field col s6">
                <%= f.label :devtype, "Type", class: "active" %>
                <%= f.select :devtype, Device::DEVICE_TYPES %>
              </div>

              <!-- Status -->
              <div class="input-field col s6" id="status">
                <%= f.label :status, class: "active" %>
                <%= f.select :status, Device::DEVICE_STATUSES %>
              </div>
            </div>

            <div class="row">

              <!-- Model -->
              <div class="input-field col s6">
                <%= f.label :model, class: "active" %>
                <%= f.text_field :model %>
              </div>

              <!-- IP -->
              <div class="input-field col s6">
                <%= f.label :ip, "WebUI Address", class: "active" %>
                <%= f.text_field :ip %>
              </div>
            </div>

            <div class="row">

              <!-- Serial Number -->
              <div class="input-field col s6">
                <%= f.label :sn, "Serial Number", class: "active" %>
                <%= f.text_field :sn %>
              </div>

              <!-- Asset Tag -->
              <div class="input-field col s6">
                <%= f.label :asset_tag, "Asset Tag", class: "active" %>
                <%= f.text_field :asset_tag %>
              </div>
            </div>

            <!-- Location -->
            <div class="row" id="location">
              <div class="input-field col s12">
                <%= f.label :location, class: "active" %>
                <%= f.text_field :location %>
              </div>
            </div>

            <!-- Notes -->
            <div class="row">
              <div class="input-field col s12">
                <%= f.label :notes, "Notes", class: "active" %>
                <%= f.text_field :notes %>
              </div>
            </div>

            <!-- Buttons -->
            <div class="row">
              <div class="col s12">

                <!-- Save button -->
                <button class="btn waves-effect waves-light">
                  <%= f.submit "Save" %>
                </button>

                <!-- Back button -->
                <%= link_to "Back", site_device_path(@site, @device), class: "btn btn-flat waves-effect waves-light" %>
              </div>
            </div>  <!-- Buttons -->

          <% end %>

        </div>  <!-- Form container -->

        <!-- Delete device button -->
        <div class="row">
          <div class="col s12">
            <%= button_to "Delete device", site_device_path(@site, @device), data: { confirm: "Are you sure? You're about to delete this device. This action is irreversible." }, method: :delete, class: "btn btn-flat waves-effect waves-red red-text" %>
          </div>
        </div>

      </div>  <!-- Card content -->
    </div>  <!-- Card -->
  </div>  <!-- Col -->
</div>  <!-- Row -->

<script>
  $(document).ready(function() {
    var initialText = $('#status :selected').text();
    if (initialText === "Inactive") { $('#location').hide(); }

    $('#status').change(function () {
      var selected = $('#status :selected').text();
      if (selected === "Inactive") { $('#location').hide(); }
      else { $('#location').show(); }
    });
  });
</script>
