<div class="row">
  <div class="col s12">
    <div class="card hoverable">
      <div class="card-content">

        <i class="material-icons left">print</i>

        <!-- Card title -->
        <span class="card-title"><%= @site.name %> - New Device</span>

        <div class="container">

          <%= form_for [@site, @device] do |f| %>

            <!-- Name -->
            <div class="row">
              <div class="input-field col s12">
                <%= f.label :name %>
                <%= f.text_field :name, required: true, autofocus: true %>
              </div>
            </div>

            <div class="row">

              <!-- Type -->
              <div class="input-field col s6">
                <%= f.label :devtype, "Type", class: "active" %>
                <%= f.select :devtype, ['Printer', 'Scanner', 'Other'] %>
              </div>

              <!-- State -->
              <div class="input-field col s6">
                <%= f.label :state, class: "active" %>
                <%= f.select :state, ['Active', 'Inactive', 'In Repair'] %>
              </div>
            </div>

            <div class="row">

              <!-- Model -->
              <div class="input-field col s6">
                <%= f.label :model %>
                <%= f.text_field :model %>
              </div>

              <!-- IP -->
              <div class="input-field col s6">
                <%= f.label :ip, "WebUI Address" %>
                <%= f.text_field :ip %>
              </div>
            </div>

            <!-- Location -->
            <div class="row">

              <div class="input-field col s6">
                <%= f.label :location %>
                <%= f.text_field :location %>
              </div>

              <!-- Serial Number -->
              <div class="input-field col s6">
                <%= f.label :sn, "Serial Number" %>
                <%= f.text_field :sn %>
              </div>
            </div>

            <!-- Buttons -->
            <div class="row">
              <div class="col s12">

                <!-- Create button -->
                <button class="btn waves-effect waves-light">
                  <%= f.submit "Create" %>
                </button>

                <!-- Back button -->
                <%= link_to "Back", :back, class: "btn btn-flat waves-effect waves-light" %>
              </div>
            </div>  <!-- Buttons -->

          <% end %>

        </div>  <!-- Form container -->
      </div>  <!-- Card content -->
    </div>  <!-- Card -->
  </div>  <!-- Col -->
</div>  <!-- Row -->