<div class="row">
  <div class="col s12">
    <div class="card hoverable">

      <div class="card-content">

        <i class="material-icons left">print</i>

        <!-- Device name -->
        <span class="card-title"><%= @device.name %></span>

        <!-- Dots Dropdown -->
        <a class="dropdown-button right" href="#!" data-activates="dropdown-device-<%= @device.id %>" data-constrainwidth="false">
          <i class="material-icons black-text">more_vert</i>
        </a>

        <!-- Dropdown Structure -->
        <ul id="dropdown-device-<%= @device.id %>" class="dropdown-content" style="min-width: 150px;">


          <!-- Link to WebUI -->
          <li>
            <%= link_to "http://#{@device.ip}", target: "_blank" do %>
              <i class="material-icons left">public</i>
              WebUI
            <% end %>
          </li>

          <!-- Edit device button-->
          <li>
            <%= link_to edit_site_device_path(@site, @device) do %>
              <i class="material-icons left">edit</i>
              Edit
            <% end %>
          </li>
        </ul>

        <!-- Device information -->
        <div class="row">
          <div class="col s12">
            <table class="highlight">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Model</th>
                  <th>Status</th>
                  <th>Location</th>
                  <th>Serial Number</th>
                  <th>Asset Tag</th>
                  <th>Site</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @device.devtype %></td>
                  <td><%= @device.model %></td>
                  <td>
                    <% if @device.status == "Inactive" %>
                      <i class="material-icons left">clear</i>
                    <% elsif @device.status == "In Repair" %>
                      <i class="material-icons left">build</i>
                    <% else %>
                      <i class="material-icons left">check</i>
                    <% end %>
                    <%= @device.status %>
                  </td>
                  <td><%= @device.location %></td>
                  <td><%= @device.sn %></td>
                  <td><%= @device.asset_tag %></td>
                  <td><%= link_to @device.site.name, @site %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Device notes -->
        <% if @device.notes && !@device.notes.empty?  %>
          <div class="row">
            <div class="col s12">
              <blockquote class="left"><%= @device.notes %></blockquote>
            </div>
          </div>
        <% end %>

        <%= render 'layouts/assets-popout-device' %>

      </div>  <!-- Card content -->

      <div class="card-action">

        <!-- Back button -->
        <%= link_to "Back", site_path(@site), class: "btn btn-flat waves-effect waves-light" %>
      </div>

    </div>  <!-- Card -->
  </div>  <!-- Col -->
</div>  <!-- Row -->

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li>
      <div class="tooltipped" data-position="left" data-delay="50" data-tooltip="Assign Supplies">
        <%= link_to assign_site_device_path(@site, @device), class: "btn-floating green" do %>
          <i class="material-icons">assignment</i>
        <% end %>
      </div>
    </li>
    <li>
      <div class="tooltipped" data-position="left" data-delay="50" data-tooltip="View Repairs">
        <%= link_to site_device_repairs_path(@site, @device), class: "btn-floating yellow darken-3" do %>
          <i class="material-icons">build</i>
        <% end %>
      </div>
    </li>
  </ul>
</div>
