<table class="highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Used</th>

      <% unless action?("overview") %>
        <th>Ending Threshold</th>
      <% end %>

      <% if action?("overview") && current_user.site.nil? || controller?("supplies") && action?("all") %>
        <th>Site</th>
      <% end %>

      <% unless action?("overview") %>
        <th></th>
      <% end %>

    </tr>
  </thead>

  <tbody>
    <% object.each do |supply| %>
      <tr>
        <td><%= link_to supply.name, site_supply_path(supply.site, supply) %></td>
        <td><%= supply.vendor%></td>
        <td><%= supply.description %></td>
        <td><%= supply.quantity %></td>
        <td><%= supply.used %></td>

        <% unless action?("overview") %>
          <td><%= supply.threshold %></td>
        <% end %>

        <% if action?("overview") && current_user.site.nil? || controller?("supplies") && action?("all") %>
          <td><%= link_to supply.site.name, supply.site %></td>
        <% end %>

        <% unless action?("overview") %>
          <td>
            <!-- Dropdown -->
            <a class="dropdown-button right" href="#!" data-activates="dropdown-supply-<%= supply.id %>" data-constrainwidth="false">
              <i class="material-icons black-text">more_vert</i>
            </a>

            <!-- Dropdown Structure -->
            <ul id="dropdown-supply-<%= supply.id %>" class="dropdown-content" style="min-width: 170px;">

              <!-- Supply history button-->
              <li>
                <%= link_to history_site_supply_path(supply.site, supply) do %>
                  <i class="material-icons left">history</i>
                  History
                <% end %>
              </li>

              <!-- Edit supply button-->
              <li>
                <%= link_to edit_site_supply_path(supply.site, supply) do %>
                  <i class="material-icons left">edit</i>
                  Edit
                <% end %>
              </li>
            </ul>  <!-- Dropdown -->
          </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>