<div class="container center-align">
  <div class="row">
    <div class="col s12">
      <div class="card hoverable">
        <div class="card-content">

          <i class="material-icons left">web_asset</i>

          <!-- Supply name -->
          <span class="card-title">Edit: <%= @supply.name %></span>

          <div class="container">

            <%= form_for @supply do |f| %>

              <div class="row">

                <!-- Name -->
                <div class="input-field col s6">
                  <%= f.label :name, class: "active" %>
                  <%= f.text_field :name, required: true %>
                </div>

                <!-- Description -->
                <div class="input-field col s6">
                  <%= f.label :description, class: "active" %>
                  <%= f.text_field :description %>
                </div>
              </div>

              <div class="row">

                <!-- Quantity -->
                <div class="input-field col s6">
                  <%= f.label :quantity, class: "active" %>
                  <%= f.text_field :quantity, required: true %>
                </div>

                <!-- Ending threshold -->
                <div class="input-field col s6">
                  <%= f.label :threshold, "Ending Threshold", class: "active" %>
                  <%= f.text_field :threshold, required: true %>
                </div>
              </div>

              <!-- Site -->
              <div class="row">
                <div class="input-field col s12">
                  <%= f.label :site, class: "active" %>
                  <%= f.collection_select(:site_id, Site.all, :id, :name) %>
                </div>
              </div>

              <!-- Buttons -->
              <div class="row">
                <div class="col s12">

                  <!-- Save button -->
                  <button class="btn waves-effect waves-light">
                    <%= f.submit "Save" %>
                  </button>

                  <!-- Back button -->
                  <%= link_to "Back", supply_path(@supply), class: "btn btn-flat waves-effect waves-light" %>
                </div>
              </div>  <!-- Buttons -->

            <% end %>

          </div>  <!-- Form container -->

          <!-- Delete supply button -->
          <div class="row">
            <div class="col s12">
              <%= button_to "Delete supply", @supply, data: { confirm: "Are you sure? You're about to delete this Supply. This action is irreversible." }, method: :delete, class: "btn btn-flat waves-effect waves-red red-text" %>
            </div>
          </div>

        </div>  <!-- Card content -->
      </div>  <!-- Card -->
    </div>  <!-- Col -->
  </div>  <!-- Row -->
</div>  <!-- Container -->
