<div class="row">
  <div class="col s12">
    <div class="card hoverable">
      <div class="card-content">

        <i class="material-icons left">web_asset</i>

        <!-- Card title -->
        <span class="card-title"><%= @site.name %> - New Supply</span>

        <div class="container">

          <%= form_for [@site, @supply] do |f| %>

            <div class="row">

              <!-- Name -->
              <div class="input-field col s6">
                <%= f.label :name %>
                <%= f.text_field :name, required: true, autofocus: true %>
              </div>

              <!-- Vendor -->
              <div class="input-field col s6">
                <%= f.label :vendor, class: "active" %>
                <%= f.text_field :vendor, required: true %>
              </div>
            </div>

            <div class="row">
              <!-- Description -->
              <div class="input-field col s12">
                <%= f.label :description, class: "active" %>
                <%= f.text_field :description %>
              </div>
            </div>

            <div class="row">

              <!-- Quantity -->
              <div class="input-field col s6">
                <%= f.label :quantity %>
                <%= f.number_field :quantity, required: true, min: 0, max: 2147483647 %>
              </div>

              <!-- Ending threshold -->
              <div class="input-field col s6">
                <%= f.label :threshold, "Ending Threshold", class: "active" %>
                <%= f.number_field :threshold, required: true, min: 0, max: 2147483647 %>
              </div>
            </div>

            <!-- Buttons -->
            <div class="row">
              <div class="col s12">

                <!-- Create button -->
                <button class="btn waves-effect waves-light">
                  <%= f.submit "Create" %>
                </button>

                <!-- Back button -->
                <%= link_to "Back", site_path(@site), class: "btn btn-flat waves-effect waves-light" %>
              </div>
            </div>  <!-- Buttons -->

          <% end %>

        </div>  <!-- Form container -->
      </div>  <!-- Card content -->
    </div>  <!-- Card -->
  </div>  <!-- Col -->
</div>  <!-- Row -->