<div class="row">
  <div class="col s12">
    <div class="card hoverable">

      <div class="card-content">

        <i class="material-icons left">build</i>

        <span class="card-title"><%= @device.name %> - All Repairs</span>

        <div class="row">
          <div class="col s12">
            <table class="highlight">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Ticket ID</th>
                  <th>Created</th>
                  <th>Updated</th>
                </tr>
              </thead>
              <tbody>
                <% @repairs.each do |repair| %>
                  <tr>
                    <td><%= link_to truncate(repair.description, length: 80), site_device_repair_path(@device.site, @device, repair) %></td>
                    <td><%= repair.status %></td>
                    <td><%= repair.ticket_id %></td>
                    <td><%= repair.created_at.to_formatted_s(:long) %></td>
                    <td><%= repair.updated_at.to_formatted_s(:long) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </div>  <!-- Card content -->

      <div class="card-action">


        <!-- Back button -->
        <%= link_to "Back", site_device_path(@device.site, @device), class: "btn btn-flat waves-effect waves-light" %>
      </div>

    </div>  <!-- Card -->
  </div>  <!-- Col -->
</div>  <!-- Row -->
