<div class="container center-align">
  <div class="row">

    <% @sites.each do |site| %>

      <div class="col s12
      <% if @sites.count == 1 %>l12
      <% else %>l6
      <% end %> ">
        <div class="card hoverable">
          <div class="card-content">

            <span class="card-title">

              <i class="material-icons left">domain</i>

              <!-- Site name -->
              <%= link_to site.name, site_path(site), class: "black-text" %>

              <!-- Dots Dropdown -->
              <a class="dropdown-button right" href="#!" data-activates="dropdown-site-<%= site.id %>" data-constrainwidth="false">
                <i class="material-icons black-text">more_vert</i>
              </a>

              <!-- Dropdown Structure -->
              <ul id="dropdown-site-<%= site.id %>" class="dropdown-content" style="min-width: 150px;">

                <!-- Edit site button-->
                <li>
                  <%= link_to edit_site_path(site) do %>
                    <i class="material-icons left">edit</i>
                    Edit site
                  <% end %>
                </li>

              </ul>

            </span>

            <table class="highlight">
              <thead>
                <tr>
                  <th>Location</th>
                  <th>Description</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><%= site.location %></td>
                  <td><%= site.description %></td>
                </tr>
              </tbody>
            </table>

          </div>

          <div class="card-action">

            <%= link_to devices_path, class: "btn btn-flat waves-effect" do %>
              <i class="material-icons left">print</i>
              View Devices
            <% end %>

            <%= link_to supplies_path, class: "btn btn-flat waves-effect" do %>
              <i class="material-icons left">web_asset</i>
               View Supplies
            <% end %>

          </div>

        </div>
      </div>

    <% end %>

  </div>

  <div class="fixed-action-btn tooltipped" style="bottom: 45px; right: 24px;" data-position="left" data-delay="50" data-tooltip="Add Site">
    <%= link_to new_site_path, class: "btn-floating btn-large red" do %>
      <i class="large material-icons">add</i>
    <% end %>
  </div>

</div>
