<div class="container center-align">
  <div class="row">
    <div class="col s12">
      <div class="card hoverable">
        <div class="card-content">

          <i class="material-icons left">domain</i>

          <!-- Site name -->
          <span class="card-title"><%= @site.name %></span>

          <!-- Dots Dropdown -->
          <a class="dropdown-button right" href="#!" data-activates="dropdown-site-<%= @site.id %>" data-constrainwidth="false">
            <i class="material-icons black-text">more_vert</i>
          </a>

          <!-- Dropdown Structure -->
          <ul id="dropdown-site-<%= @site.id %>" class="dropdown-content" style="min-width: 150px;">

            <!-- Edit site button-->
            <li>
              <%= link_to edit_site_path(@site) do %>
                <i class="material-icons left">edit</i>
                Edit site
              <% end %>
            </li>
          </ul>

          <table class="highlight">
            <thead>
              <tr>
                <th>Location</th>
                <th>Description</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><%= @site.location %></td>
                <td><%= @site.description %></td>
              </tr>
            </tbody>
          </table>

          <%= render 'layouts/assets-popout-site' %>

        </div>  <!-- Card content -->

        <div class="card-action">

          <!-- Back button -->
          <%= link_to "Back", sites_path, class: "btn btn-flat waves-effect waves-light" %>
        </div>

      </div>  <!-- Card -->
    </div>  <!-- Col -->
  </div>  <!-- Row -->
</div>  <!-- Container -->


<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red">
    <i class="material-icons">add</i>
  </a>
  <ul>
    <li>
      <div class="tooltipped" data-position="left" data-delay="50" data-tooltip="Add Supply">
        <%= link_to new_site_supply_path(@site), class: "btn-floating green" do %>
          <i class="material-icons">web_asset</i>
        <% end %>
      </div>
    </li>
    <li>
      <div class="tooltipped" data-position="left" data-delay="50" data-tooltip="Add Device">
        <%= link_to new_site_device_path(@site), class: "btn-floating blue" do %>
          <i class="material-icons">print</i>
        <% end %>
      </div>
    </li>
  </ul>
</div>