<div class="row">
  <div class="col s12">
    <!-- Devices and Supplies Popout -->
    <ul class="collapsible popout left-align" data-collapsible="expandable">

      <% if @site.devices.any? %>

        <li>
          <div class="collapsible-header">
            <i class="material-icons">print</i>
            Devices
            <span class="right"><%= @site.devices.count %></span>
          </div>

          <div class="collapsible-body" style="margin-left: 20px; margin-right: 20px;">
            <table class="highlight">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Model</th>
                  <th>State</th>
                  <th>Location</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @site.devices.each do |device| %>
                  <tr>
                    <td><%= link_to device.name, device_path(device) %></td>
                    <td><%= device.devtype %></td>
                    <td><%= device.model %></td>
                    <td>
                      <% if device.state == "Inactive" %>
                        <i class="material-icons left">clear</i>
                      <% elsif device.state == "In Repair" %>
                        <i class="material-icons left">build</i>
                      <% else %>
                        <i class="material-icons left">check</i>
                      <% end %>
                      <%= device.state %>
                    </td>
                    <td><%= device.location %></td>
                    <td>
                      <a class="dropdown-button right" href="#!" data-activates="dropdown-device-<%= device.id %>" data-constrainwidth="false">
                        <i class="material-icons black-text">more_vert</i>
                      </a>

                      <!-- Dropdown Structure -->
                      <ul id="dropdown-device-<%= device.id %>" class="dropdown-content" style="min-width: 170px;">

                        <!-- Link to WebUI -->
                        <li>
                          <%= link_to "http://#{device.ip}", target: "_blank" do %>
                            <i class="material-icons left">public</i>
                            WebUI
                          <% end %>
                        </li>

                        <!-- Edit device button-->
                        <li>
                          <%= link_to edit_device_path(device) do %>
                            <i class="material-icons left">edit</i>
                            Edit device
                          <% end %>
                        </li>
                      </ul>

                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </li>

      <% end %>

      <% if @site.supplies.any? %>

        <li>
          <div class="collapsible-header">
            <i class="material-icons">web_asset</i>
            Supplies
            <span class="right"><%= @site.supplies.count %></span>
          </div>

          <div class="collapsible-body" style="margin-left: 20px; margin-right: 20px;">
            <table class="highlight">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @site.supplies.each do |supply| %>
                  <tr>
                    <td><%= link_to supply.name, supply_path(supply) %></td>
                    <td><%= supply.description %></td>
                    <td><%= supply.quantity %></td>
                    <td>
                      <a class="dropdown-button right" href="#!" data-activates="dropdown-supply-<%= supply.id %>" data-constrainwidth="false">
                        <i class="material-icons black-text">more_vert</i>
                      </a>

                      <!-- Dropdown Structure -->
                      <ul id="dropdown-supply-<%= supply.id %>" class="dropdown-content" style="min-width: 170px;">

                        <!-- Edit supply button-->
                        <li>
                          <%= link_to edit_supply_path(supply) do %>
                            <i class="material-icons left">edit</i>
                            Edit supply
                          <% end %>
                        </li>
                      </ul>

                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </li>

      <% end %>

    </ul>  <!-- Devices and Supplies Popout --></div>
</div>