<!-- If user logged in -->
<% if current_user %>

<!-- Cover view -->
<li><div class="userView">

  <!-- Cover image -->
  <%= image_tag("cover", alt: "Cover", class: "background") %>

  <!-- Userpic stub -->
  <a><i class="material-icons medium white-text">face</i></a>

  <!-- Full name -->
  <a><span class="white-text name"><%= current_user.full_name %></span></a>

  <!-- Email -->
  <a><span class="white-text email"><%= current_user.email %></span></a>
</div></li>

<!-- Search bar -->
<li style="padding: 0 15px 0 15px;">
  <div class="search-wrapper card">
    <form style="height: 44px !important;">
      <div class="input-field">
        <%= text_field_tag :query, params[:query], placeholder: "Search", type: "search" %>
      </div>
    </form>
  </div>
</li>

<!-- Home button -->
<li>
  <%= link_to root_path, class: "waves-effect" do %>
    <i class="material-icons left">home</i>
    Home
  <% end %>
</li>

<!-- Sites button -->
<li>
  <%= link_to sites_path, class: "waves-effect" do %>
    <i class="material-icons left">location_city</i>
    Sites
  <% end %>
</li>

<!-- Devices button -->
<li>
  <%= link_to all_devices_path, class: "waves-effect" do %>
    <i class="material-icons left">print</i>
    Devices
  <% end %>
</li>

<!-- Supplies button -->
<li>
  <%= link_to all_supplies_path, class: "waves-effect" do %>
    <i class="material-icons left">web_asset</i>
    Supplies
  <% end %>
</li>

<li><div class="divider" style="margin-top: 15px; margin-bottom: 15px;"></div></li>

<!-- Settings -->
<li>
  <%= link_to edit_settings_path, class: "waves-effect" do %>
    <i class="material-icons left">settings</i>
    Settings
  <% end %>
</li>

<!-- Edit account -->
<li>
  <%= link_to edit_user_registration_path, class: "waves-effect" do %>
    <i class="material-icons left">edit</i>
    Edit Account
  <% end %>
</li>

<!-- Sign out -->
<li>
  <%= link_to destroy_user_session_path, method: :delete, class: "waves-effect" do %>
    <i class="material-icons left">exit_to_app</i>
    Sign Out
  <% end %>
</li>

<!-- Else display login & about buttons -->
<% else %>

<!-- Login button -->
<li>
  <%= link_to new_user_session_path, class: "waves-effect" do %>
    <i class="material-icons left">account_circle</i>
    Sign in
  <% end %>
</li>

<!-- About button -->
<li>
  <%= link_to about_path, class: "waves-effect" do %>
    <i class="material-icons left">info</i>
    About
  <% end %>
</li>

<% end %>  <!-- end if -->