<div class="col s12">
  <div class="card hoverable">
    <div class="card-content">
      <span class="card-title">
        <i class="material-icons left">build</i>
        Devices in repair
        <!-- Dots Dropdown -->
        <a class="dropdown-button right" href="#!" data-activates="dropdown-devices-repair" data-constrainwidth="false"><i class="material-icons black-text">more_vert</i></a>

        <!-- Dropdown Structure -->
        <ul id="dropdown-devices-repair" class="dropdown-content" style="min-width: 150px;">

          <!-- Export button -->
          <li>
            <%= link_to export_devices_path(repair: true, format: "csv") do %>
              <i class="material-icons left">import_export</i>
              Export
            <% end %>
          </li>

        </ul>
      </span>

      <% if @devices_repair.any? %>

        <table class="highlight">

          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Model</th>
              <th>Location</th>
              <th>Site</th>
            </tr>
          </thead>

          <tbody>
            <% @devices_repair.each do |device| %>
              <tr>
                <td><%= link_to device.name, site_device_path(device.site, device) %></td>
                <td><%= device.devtype %></td>
                <td><%= device.model %></td>
                <td><%= device.location %></td>
                <td><%= link_to device.site.name, device.site %></td>
              </tr>
            <% end %>
          </tbody>

        </table>

      <% else %>
        <br>
        <br>
        <p>Nothing</p>
        <br>
      <% end %>

    </div>  <!-- Card content -->
  </div>
</div>