<div class="col s12 l6">
  <div class="card hoverable">
    <div class="card-content">
      <span class="card-title">
        <i class="material-icons left">location_city</i>
        Sites
        <!-- <i class="material-icons right">more_vert</i> -->
      </span>

      <ul class="collapsible popout" data-collapsible="expandable">

        <% @sites.each do |site| %>
          <li>
            <div class="collapsible-header"><i class="material-icons">business</i><%= site.name %></div>
              <div class="collapsible-body">
                <ul class="collection left-align">

                  <li class="collection-item">
                    <i class="material-icons left">print</i>
                    Total Devices
                    <span class="badge"><%= site.devices.count %></span>
                  </li>

                  <li class="collection-item">
                    <i class="material-icons left">web_asset</i>
                    Total Supplies
                    <span class="badge"><%= site.supplies.count %></span>
                  </li>

                  <li class="collection-item">
                    <i class="material-icons left">build</i>
                    Devices in repair
                    <span class="badge"><%= site.devices.in_repair.count %></span>
                  </li>

                  <li class="collection-item">
                    <i class="material-icons left">schedule</i>
                    Supplies ending soon
                    <span class="badge"><%= site.supplies.ending_soon.count %></span>
                  </li>

                </ul>
              </div>
          </li>

        <% end %>

      </ul>

    </div>
  </div>
</div>