<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <% if Rails.env.production? %>
      <title>Boxes</title>
    <% else %>
      <title>Boxes-DEV</title>
    <% end %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Add Material Icon Library -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  </head>

  <body>

    <%= render 'layouts/header' %>

    <% flash.each do |key, value| %>
      <script>
        Materialize.toast('<%= value %>', 4000)
      </script>
    <% end %>

    <div class="container center-align">
      <%= yield %>
    </div>

    <% if controller?("static_pages") && action?("home") %>
      <%= render 'layouts/footer' %>
    <% end %>

  </body>
</html>
